{% extends 'chess_app/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
{% endblock css %}

{% block content %}
    <div id="myBoard" style="width: 400px"></div>
    {{ user|json_script:"username" }}
    {{ room_name|json_script:"room-name" }}
    <!-- <br>
    <textarea id="chat-log" cols="50" rows="20"></textarea>
    <input id="chat-message-input" type="text">
    <input id="chat-message-submit" type="button" value="Send"> -->
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block script %}
    <script src="{% static 'chess_app/js/chessboard-1.0.0.js' %}"></script>
    <script src="{% static 'chess_app/js/chess.js' %}"></script>
    <script src="{% static 'game/js/game.js' %}"></script>
{% endblock script %}