{% extends 'chess_app/base.html' %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
{% endblock css %}

{% block navbar-nav %}
    {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'game' %}">Create game</a>
        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock navbar-nav %}

{% block content %}
    <h1>Welcome to ELSYS Chess</h1>

    <div id="demoBoard" style="width: 400px"></div>
{% endblock content %}

{% block sidebar %}
    <div class="col-md-4">
        {% if user.is_authenticated %}
            <div class="content-section">
                <div class="media">
                    <div class="media-body">
                        <h4>Welcome, {{ user.username }}</h4>
                        <p class="text-muted">Here are your boards</p>
                    </div>
                </div>
                <p>
                    <ul class="list-group">
                        {% comment %} <li class="list-group-item list-group-item-light">Board 1</li> {% endcomment %}
                        {% block boards %} {% endblock %}
                    </ul>
                </p>
            </div>

            <div class="content-section">
                <div class="media">
                    <div class="media-body">
                        <h4>Active users</h4>
                    </div>
                </div>
                <p>
                    <ul class="list-group">
                        {% block active_users %} {% endblock %}
                    </ul>
                </p>
            </div>
        {% else %}
            <div class="content-section">
                <h3>Hello GuestUser!</h3>
                <p class='text-muted'>Click <a href="{% url 'register' %}">here</a> to register.</p>
                <p class='text-muted'>You have an account? Log in <a href="{% url 'login' %}">here</a>.</p>
            </div>
        {% endif %}
    </div>
{% endblock sidebar %}

{% block active_users %}
    {% if active_users.count > 1 %}
        {% for active_user in active_users %}
            {% if active_user != user %}
                <a class="btn btn-outline-success" data-toggle="modal" data-target="#senderModal">{{ active_user }}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <h6>There are not any active users!</h6>
    {% endif %}

    <!-- Modal -->
    <div id="senderModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Invite sent!</h4>
                    <button type="button" class="close" data-dismiss="modal"  onclick="javascript:window.location='{% url 'game' %}'">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Invite is successfully sent!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="javascript:window.location='{% url 'game' %}'">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock active_users %}

{% block script %}
    <script src="../../static/chess_app/js/chessboard-1.0.0.js"></script>
    <script src="../../static/chess_app/js/chess.js"></script>
    <script src="../../static/chess_app/js/demoGame.js"></script>
{% endblock script %}